*{
    margin: 0;
    padding: 0;
}
.header{
   
}
.col-info{
    margin-top: 10vh;
}
.navbar-style{
    box-shadow: 0 5px 10px 0px  rgb(218, 218, 218);
}
.logo{
    height: 38px;
  
}
.logo-2{
    height: 30px;
  
}
a.nav-link{
    font-weight:bold;
    font-size: larger;

}
@media (min-width:328px)and (max-width:992px){


button.navbar-toggler{
   
}
}
@media (min-width:328px)and (max-width:992px){
    .nav-item{
      text-align: center;
      border-bottom: 1px solid rgb(14, 13, 13,0.2);
    }
    }
h1,p{
    text-transform: uppercase;
}
p{
    font-size: 50px;
    color: darkorange;
}

span{
    font-weight: 400;
}
.btn{
    margin: 20px;
}
.btn.btn-first{
    background:  darkorange;
    color: #eff;
    padding: 10px;
    font-weight: 600;
    border-radius: 20px;
    width: 150px;
    

}
.btn.btn-second{
   border: 1px solid darkorange;
   color: black;
   padding: 10px;
   font-weight: 600;
   border-radius: 20px;
   width: 150px;
}
.btn.btn-second:hover{
    background: darkorange;
    box-shadow: 5px 5px 5px #b1afaf;
}
.btn.btn-first:hover{
    box-shadow: 5px 5px 5px #b1afaf;
}
.logo-2:hover{
    box-shadow: 3px 2px 2px #8b8686;
}
